# Lending Club Case Study

In [1]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Reading Input Data

In [4]:
# Reading input Loan Data file 
loandf = pd.read_csv("loan.csv")

In [5]:
#Reading Data first 10 records
loandf.head(10)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
5,1075269,1311441,5000,5000,5000.0,36 months,7.90%,156.46,A,A4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
6,1069639,1304742,7000,7000,7000.0,60 months,15.96%,170.08,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
7,1072053,1288686,3000,3000,3000.0,36 months,18.64%,109.43,E,E1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
8,1071795,1306957,5600,5600,5600.0,60 months,21.28%,152.39,F,F2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
9,1071570,1306721,5375,5375,5350.0,60 months,12.69%,121.45,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

## Understanding Structure of Data

In [6]:
#Understand the dimension of data. No.of columns and Rows
loandf.shape

(39717, 111)

In [7]:
# Types of data in Loan data
loandf.dtypes

id                              int64
member_id                       int64
loan_amnt                       int64
funded_amnt                     int64
funded_amnt_inv               float64
                               ...
tax_liens                     float64
tot_hi_cred_lim               float64
total_bal_ex_mort             float64
total_bc_limit                float64
total_il_high_credit_limit    float64
Length: 111, dtype: object

In [8]:
# Information of loan data. 
loandf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Columns: 111 entries, id to total_il_high_credit_limit
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB

## Data Cleaning

In [10]:
#Identify number of records having null information
loandf.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [11]:
loandf.shape

(39717, 111)

In [12]:
#Drop columns having all NA values
loandf.dropna(axis=1, how='all', inplace=True)

In [13]:
# Columns having all NA Values are dropped. Check new dimensions of Data
loandf.shape

(39717, 57)

In [20]:
#Verify amount of null values in each column
loandf.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [14]:
#drop columns in which nan data is very high (>50%)
loandf.drop(labels=['mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d'], axis=1, inplace=True)
loandf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 54 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26775 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  open_acc                    39717 non-null  int64
 29  pub_rec                     39717 non-null  int64
 30  revol_bal                   39717 non-null  int64
 31  revol_util                  39667 non-null  object
 32  total_acc                   39717 non-null  int64
 33  initial_list_status         39717 non-null  object
 34  out_prncp                   39717 non-null  float64
 35  out_prncp_inv               39717 non-null  float64
 36  total_pymnt                 39717 non-null  float64
 37  total_pymnt_inv             39717 non-null  float64
 38  total_rec_prncp             39717 non-null  float64
 39  total_rec_int               39717 non-null  float64
 40  total_rec_late_fee          39717 non-null  float64
 41  recoveries                  39717 non-null  float64
 42  collection_recovery_fee     39717 non-null  float64
 43  last_pymnt_d                39646 non-null  object
 44  last_pymnt_amnt             39717 non-null  float64
 45  last_credit_pull_d          39715 non-null  object
 46  collections_12_mths_ex_med  39661 non-null  float64
 47  policy_code                 39717 non-null  int64
 48  application_type            39717 non-null  object
 49  acc_now_delinq              39717 non-null  int64
 50  chargeoff_within_12_mths    39661 non-null  float64
 51  delinq_amnt                 39717 non-null  int64
 52  pub_rec_bankruptcies        39020 non-null  float64
 53  tax_liens                   39678 non-null  float64
dtypes: float64(18), int64(13), object(23)
memory usage: 16.4+ MB

In [15]:
#verify duplicate rows
loandf.duplicated().sum()

0

In [19]:
loandf.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12942
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [20]:
loandf.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,171.62,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,119.66,Sep-13,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,649.91,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,357.48,Apr-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,67.79,May-16,0.0,1,INDIVIDUAL,0,0.0,0,0.0,0.0

In [27]:
loandf["desc"]

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              210
Debt Consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              8
Camping Membership                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              6
personal loan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   3
credit card consolidation                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             ...
  Borrower added on 05/13/11 > I have a very stable income and have &quot;NEVER&quot; been delinquent on any accounts. I am interested in consolidating my credit card accounts along with a personal loan for the benefit of paying one payment a month versus multiple. Thank you.<br/>                                                                                                                                                                                                                                                                                                                                                                                       1
  Borrower added on 05/13/11 > This loan is to partially finance a car. The payments will be very manageable for me.<br/>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       1
  Borrower added on 05/13/11 > I am consolidating my bills to make it cheaper on bills. I am up for a promotion at my job and have been here three years already. I also have a fiance that has a very reliable job who also helps with finances. My requirement is that all bills are paid on time if not early. This is to keep good standings with all businesses and keep a awesome credit score.<br/> Borrower added on 05/16/11 > I am asking for this loan to pay off bills with higher interest rates and have a lower payment every month.<br/>                                                                                                                        1
  Borrower added on 05/13/11 > Debt Consolidation<br/> Borrower added on 05/13/11 > I plan to use this money to consolidate bills with high monthly payments and improve cash flow.<br/> Borrower added on 05/13/11 > I have good credit and I have a very stable, solid and professional job that I have held for a long time - over 20 years.  I have a Bachelor's degree and I'm currently working on a masters.<br/> Borrower added on 05/13/11 > My mortgage and utilities run approx less than 2k per month including taxes.  I have sufficient income to pay off this loan. I simply want to take my open accounts and consolidate them into one easy payment.<br/>      1
I plan to consolidate over $7,000 of debt: a combination of credit cards and student loans.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     1
Name: desc, Length: 26527, dtype: int64

In [21]:
# Drop desc column as the values are text and dont contribute to analysis
loandf.drop(columns=['desc'], inplace=True)
loandf.shape

(39717, 53)

In [22]:
loandf["loan_status"].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Current         1140
Name: count, dtype: int64

In [23]:
#Remove Rows with Loan status as current as its still running loans and cant be used for analysis
loandf = loandf[~(loandf['loan_status'] == 'Current')]

In [25]:
loandf["loan_status"].value_counts()

loan_status
Fully Paid     32950
Charged Off     5627
Name: count, dtype: int64

In [26]:
#Check for null values again 
loandf.isnull().sum()

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2386
emp_length                    1033
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [27]:
loandf["title"].describe()

count                  38566
unique                 19297
top       Debt Consolidation
freq                    2090
Name: title, dtype: object

In [28]:
# Title is also Text column which has lot of unique values. Drop the column
loandf.drop(columns=['title'],inplace=True)
loandf.shape

(38577, 52)

In [29]:
loandf.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'purpose', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'chargeoff_within_12_mths', 'delinq_amnt',
       'pub_rec_bankruptcies', 'tax_liens'],
      dtype='object')

In [30]:
loandf.nunique().sort_values()

tax_liens                         1
initial_list_status               1
out_prncp                         1
out_prncp_inv                     1
collections_12_mths_ex_med        1
policy_code                       1
pymnt_plan                        1
application_type                  1
acc_now_delinq                    1
chargeoff_within_12_mths          1
delinq_amnt                       1
loan_status                       2
term                              2
verification_status               3
pub_rec_bankruptcies              3
home_ownership                    5
pub_rec                           5
grade                             7
inq_last_6mths                    9
delinq_2yrs                      11
emp_length                       11
purpose                          14
sub_grade                        35
open_acc                         40
addr_state                       50
issue_d                          55
total_acc                        82
last_pymnt_d                    101
last_credit_pull_d              106
int_rate                        370
earliest_cr_line                524
zip_code                        822
loan_amnt                       870
funded_amnt                    1019
revol_util                     1088
total_rec_late_fee             1320
collection_recovery_fee        2616
dti                            2853
recoveries                     4040
annual_inc                     5215
total_rec_prncp                6841
funded_amnt_inv                8050
installment                   15022
revol_bal                     21275
emp_title                     28027
total_rec_int                 34025
last_pymnt_amnt               34418
total_pymnt_inv               36387
total_pymnt                   36714
member_id                     38577
url                           38577
id                            38577
dtype: int64

In [103]:
#Subset the Loan Data by removing Behavioural Data columns and columns that have unique values 
loandfNew = loandf[['id', #'member_id'
              'loan_amnt', 'funded_amnt', 'funded_amnt_inv','term', 'int_rate', 'installment', 'grade',
              'sub_grade',
              'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
               'issue_d', 'loan_status', #'pymnt_plan', 
               # 'url',
                'purpose', 'zip_code',
               'addr_state', 'dti', # 'delinq_2yrs', 'earliest_cr_line',
               'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
               'total_acc', #'initial_list_status', 'out_prncp', 'out_prncp_inv',
               #'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
               #'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
               #'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
               #'collections_12_mths_ex_med', #'policy_code', 'application_type',
               #'acc_now_delinq', #'chargeoff_within_12_mths', 'delinq_amnt',
               'pub_rec_bankruptcies', #'tax_liens'
                ]]

In [104]:
loandfNew.shape

(38577, 27)

In [49]:
loandfNew.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38577 entries, 0 to 39716
Data columns (total 27 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    38577 non-null  int64
 1   loan_amnt             38577 non-null  int64
 2   funded_amnt           38577 non-null  int64
 3   funded_amnt_inv       38577 non-null  float64
 4   term                  38577 non-null  object
 5   int_rate              38577 non-null  object
 6   installment           38577 non-null  float64
 7   grade                 38577 non-null  object
 8   sub_grade             38577 non-null  object
 9   emp_title             36191 non-null  object
 10  emp_length            37544 non-null  object
 11  home_ownership        38577 non-null  object
 12  annual_inc            38577 non-null  float64
 13  verification_status   38577 non-null  object
 14  issue_d               38577 non-null  object
 15  loan_status           38577 non-null  object
 16  purpose               38577 non-null  object
 17  zip_code              38577 non-null  object
 18  addr_state            38577 non-null  object
 19  dti                   38577 non-null  float64
 20  inq_last_6mths        38577 non-null  int64
 21  open_acc              38577 non-null  int64
 22  pub_rec               38577 non-null  int64
 23  revol_bal             38577 non-null  int64
 24  revol_util            38527 non-null  object
 25  total_acc             38577 non-null  int64
 26  pub_rec_bankruptcies  37880 non-null  float64
dtypes: float64(5), int64(8), object(14)
memory usage: 8.2+ MB

In [105]:
loandfNew.nunique().sort_values()

loan_status                 2
term                        2
verification_status         3
pub_rec_bankruptcies        3
pub_rec                     5
home_ownership              5
grade                       7
inq_last_6mths              9
emp_length                 11
purpose                    14
sub_grade                  35
open_acc                   40
addr_state                 50
issue_d                    55
total_acc                  82
int_rate                  370
zip_code                  822
loan_amnt                 870
funded_amnt              1019
revol_util               1088
dti                      2853
annual_inc               5215
funded_amnt_inv          8050
installment             15022
revol_bal               21275
emp_title               28027
id                      38577
dtype: int64

In [106]:
loandfNew.isnull().sum()

id                         0
loan_amnt                  0
funded_amnt                0
funded_amnt_inv            0
term                       0
int_rate                   0
installment                0
grade                      0
sub_grade                  0
emp_title               2386
emp_length              1033
home_ownership             0
annual_inc                 0
verification_status        0
issue_d                    0
loan_status                0
purpose                    0
zip_code                   0
addr_state                 0
dti                        0
inq_last_6mths             0
open_acc                   0
pub_rec                    0
revol_bal                  0
revol_util                50
total_acc                  0
pub_rec_bankruptcies     697
dtype: int64

In [51]:
loandfNew.head(20)

,id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,...,zip_code,addr_state,dti,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,pub_rec_bankruptcies
0,1077501,5000,5000,4975.00000,36 months,10.65%,162.87,B,B2,NaN,...,860xx,AZ,27.65,1,3,0,13648,83.70%,9,0.0
1,1077430,2500,2500,2500.00000,60 months,15.27%,59.83,C,C4,Ryder,...,309xx,GA,1.00,5,3,0,1687,9.40%,4,0.0
2,1077175,2400,2400,2400.00000,36 months,15.96%,84.33,C,C5,NaN,...,606xx,IL,8.72,2,2,0,2956,98.50%,10,0.0
3,1076863,10000,10000,10000.00000,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,...,917xx,CA,20.00,1,10,0,5598,21%,37,0.0
5,1075269,5000,5000,5000.00000,36 months,7.90%,156.46,A,A4,Veolia Transportaton,...,852xx,AZ,11.20,3,9,0,7963,28.30%,12,0.0
6,1069639,7000,7000,7000.00000,60 months,15.96%,170.08,C,C5,Southern Star Photography,...,280xx,NC,23.51,1,7,0,17726,85.60%,11,0.0
7,1072053,3000,3000,3000.00000,36 months,18.64%,109.43,E,E1,MKC Accounting,...,900xx,CA,5.35,2,4,0,8221,87.50%,4,0.0
8,1071795,5600,5600,5600.00000,60 months,21.28%,152.39,F,F2,NaN,...,958xx,CA,5.55,2,11,0,5210,32.60%,13,0.0
9,1071570,5375,5375,5350.00000,60 months,12.69%,121.45,B,B5,Starbucks,...,774xx,TX,18.08,0,2,0,9279,36.50%,3,0.0
10,1070078,6500,6500,6500.00000,60 months,14.65%,153.45,C,C3,Southwest Rural metro,...,853xx,AZ,16.12,2,14,0,4032,20.60%,23,0.0
11,1069908,12000,12000,12000.00000,36 months,12.69%,402.54,B,B5,UCLA,...,913xx,CA,10.78,0,12,0,23336,67.10%,34,0.0
12,1064687,9000,9000,9000.00000,36 months,13.49%,305.38,C,C1,Va. Dept of Conservation/Recreation,...,245xx,VA,10.08,1,4,0,10452,91.70%,9,0.0
13,1069866,3000,3000,3000.00000,36 months,9.91%,96.68,B,B1,Target,...,606xx,IL,12.56,2,11,0,7323,43.10%,11,0.0
14,1069057,10000,10000,10000.00000,36 months,10.65%,325.74,B,B2,SFMTA,...,951xx,CA,7.06,2,14,0,11997,55.50%,29,0.0
15,1069759,1000,1000,1000.00000,36 months,16.29%,35.31,D,D1,Internal revenue Service,...,641xx,MO,20.31,1,11,0,6524,81.50%,23,0.0
16,1065775,10000,10000,10000.00000,36 months,15.27%,347.98,C,C4,Chin's Restaurant,...,921xx,CA,18.60,2,14,0,24043,70.20%,28,0.0
17,1069971,3600,3600,3600.00000,36 months,6.03%,109.57,A,A1,Duracell,...,067xx,CT,10.52,0,20,0,22836,16%,42,0.0
18,1062474,6000,6000,6000.00000,36 months,11.71%,198.46,B,B3,Connection Inspection,...,890xx,UT,18.44,0,4,0,0,37.73%,14,0.0
19,1069742,9200,9200,9200.00000,36 months,6.03%,280.01,A,A1,Network Interpreting Service,...,921xx,CA,9.86,0,8,0,7314,23.10%,28,0.0
20,1069740,20250,20250,19142.16108,60 months,15.27%,484.63,C,C4,Archdiocese of Galveston Houston,...,770xx,TX,26.53,3,8,0,17813,85.60%,22,0.0

In [107]:
loandfNew.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'purpose', 'zip_code', 'addr_state', 'dti',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'pub_rec_bankruptcies'],
      dtype='object')

### Standardize values
Below four columns can be categorized as continuous variables, hence converting them into int/float case to case:
1. revol_util: Standardise this value by trimming off % and convert to numeric value.
2. int_rate: Standardise this value by trimming off % and convert to numeric value.
3. term: Standardise this value by trimming off 'months' and convert to numeric value.
4. emp_length: Standardise this value by trimming off 'years' and convert to numeric value. <1 year is treated as 0 and 10+ years is treated as 10.

In [108]:
loandfNew['revol_util'] = loandfNew['revol_util'].apply(lambda x : str(x))
loandfNew['revol_util'] = loandfNew['revol_util'].apply(lambda x : float(0) if not x else float(x.split('%')[0]))

In [109]:
loandfNew['int_rate'] = loandfNew['int_rate'].apply(lambda x : str(x))
loandfNew['int_rate'] = loandfNew['int_rate'].apply(lambda x : float(0) if not x else float(x.split('%')[0]))

In [110]:
loandfNew['term'] = loandfNew['term'].apply(lambda x : str(x))
loandfNew['term'] = loandfNew['term'].apply(lambda x : int(0) if not x else int(x.split('months')[0]))

In [ ]:
loandfNew['term'] = pd.to_numeric(loandfNew['term'].apply(lambda x : x.split('months')[0]))
loandfNew['emp_length'] = pd.to_numeric(loandfNew['emp_length'].apply(lambda x: 0 if "<" in x else (x.split('+')[0] if "+" in x else x.split()[0])))